body {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #555;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 150px;
  margin-bottom: 0;
  margin-top: 100px;
}

.btn {
  margin: 50px;
}

.btn a {
  padding: 10px 20px;
  background-color: #B33A2F;
  border-color: #B33A2F;
  border-width: 3px;
  border-style: solid;
  color:white;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: background-color 0.2s, color 0.2s, padding 0.2s;
  transition: background-color 0.2s, color 0.2s, padding 0.2s;
}

.btn a:hover{
  background-color: white;
  color:#B33A2F;
  padding: 22px 40px;
  -webkit-transition: background-color 0.1s, color 0.1s, padding 0.1s;
  transition: background-color 0.1s, color 0.1s, padding 0.1s;
}

.red {
  color: #B33A2F;
}
